  <header class="header-bg">
        <div class="header container">
            <a href="./index.html"><img src="/img/svgs/logo-horizontal.svg" alt="Logo do projeto conecctive"></a>
            <nav>
                <ul class="lista-primaria">
                    <li><a href="/inicial">Inicio</a></li>
                    <li><a href="/sobrenos">Sobre nós</a></li>
                </ul>
            </nav>
            <div class="login-e-cadastro">
                <a href="/login" class="botao font-2-s">Login</a>
                <a href="/opcao" class="botao destaque font-2-s">Cadastro</a>
            </div>
        </div>
    </header>

    <main class="principal-bg">
        <div class="principal container">
            <div class="principal-texto">
                <h2 class="font-1-xl">Sobre a empresa<span class="cor-d1">.</span></h2>
                <p class="font-2-m">
                    A Inotec nasceu a partir de um trabalho de conclusão de curso, que gerou um consenso entre seus fundadores: 
                    a vontade de fazer a diferença na vida das pessoas. Diante do aumento alarmante do desemprego em nosso país, 
                    decidimos dar vida ao projeto "Conecctive", com o objetivo de ser uma ponte entre recrutadores e trabalhadores 
                    em busca de oportunidades temporárias para complementar sua renda.
                </p>
                <p class="font-2-m">
                    Nosso compromisso vai além dos negócios.
                     Na Inotec, acreditamos que é possível 
                     criar um impacto positivo na sociedade, 
                     proporcionando a indivíduos talentosos a chance de se destacar no mercado de trabalho
                    e garantindo que as empresas encontrem as habilidades de que precisam, quando precisam.
                </p>
                <p class="font-2-m">
                    Estamos empenhados em oferecer soluções inovadoras para conectá-lo às oportunidades de emprego que deseja ou ajudar sua empresa a encontrar os melhores talentos.
                     Acreditamos que juntos podemos construir um futuro mais promissor. 
                     Seja bem-vindo à Inotec, onde a conexão é o nosso propósito.
                </p>
                <h2 class="font-1-xl">Nossa missão, visão e valores<span class="cor-d1">.</span></h2>
            </div>
            <div class="mvv-empresa">
                <div class="empresa-item font-1-m cor-p2">
                    <h2 id="missao">Missão</h2>
                    <ul class="lista-empresa font-2-m cor-p2 ">
                        <li>Oportunidade de renda</li>
                        <li>Preocupação com os usuários</li>
                        <li>Conforto e confiança</li>
                        <li>Estabilidade organizacional</li>
                        <li>Praticidade</li>
                    </ul>
                </div>
                <div class="empresa-item font-1-m cor-p2">
                    <h2 id="visao">Visão</h2>
                    <ul class="lista-empresa font-2-m cor-p2 ">
                        <li>Ser Referência</li>
                        <li>Melhor no mercado de trabalho</li>
                    </ul>
                </div>
                <div class="empresa-item font-1-m cor-p2">
                    <h2 id="valores">Valores</h2>
                    <ul class="lista-empresa font-2-m cor-p2 ">
                        <li>Ética</li>
                        <li>Proatividade</li>
                        <li>Comprometimento</li>
                        <li>Transparência</li>
                        <li>Honestidade</li>
                        <li>Criatividade</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-bg">
        <div class="footer container">
            <img src="/img/svgs/logo-horizontal.svg" alt="">
            <div class="contato">
                <h3 class="cor-0 font-2-xl">CONTATO</h3>
                <ul class="lista-footer cor-6 font-1-s">
                    <li><a href="mailto:contato@bikcraft.com">inotec@gmail.com</a></li>
                </ul>
                <div class="sociais">
                    <a href="./"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="informacoes">
                <h3 class="cor-0 font-2-xl">INFORMAÇÕES</h3>
                <ul class="cor-6 font-1-s">
                    <li><a href="">Termos e Condições</a></li>
                    <li><a href="">Insenção de responsabilidade</a></li>
                </ul>
            </div>
            <div class="footer-copy font-2-m cor-6">
                <p>Conecctive © Alguns direitos reservados.</p>
            </div>
    </footer>