.perfis-cards{
    padding-top: 120px;
    padding-bottom: 123px;
    text-align: center;
    gap: 40px;
    position: relative;
}

.cards{
    border: 2px solid gray;
    padding: 40px;
    gap: 20px;
    border-radius: 8px;
}
.cards img{
    width: 120px;
}
#inicial-cliente #areasTecnologia{
    position: absolute;
    top: 20px;
    left: 63px;
}