 <header class="header-bg">
        <div class="header container">
            <a href="./index.html"><img src="/img/svgs/logo-horizontal.svg" alt="Logo do projeto conecctive"></a>
            <nav>
                <ul class="lista-primaria">
                    <li><a href="/inicial">Inicio</a></li>
                    <li><a href="/sobrenos">Sobre nós</a></li>
                </ul>
            </nav>
            <div class="login-e-cadastro">
                <a href="/login" class="botao font-2-s">Login</a>
                <a href="/opcao" class="botao destaque font-2-s">Cadastro</a>
            </div>
        </div>
    </header>


    <main class="introducao-bg">
        <div class="introducao container">
            <h1 class="font-1-xl">Conecctive: Conectando Trabalhadores e Clientes</h1>
            <p class="font-2-m">A plataforma para encontrar trabalhadores para seus projetos.</p>
            <a href="#descricao" id="linkTrabalhador" class="botao destaque font-2-s">Saiba Mais</a>
        </div>
    </main>

    <article class="motivos container js-scroll">
        <h1 class="font-1-xl cor-p1">Por que escolher a Conecctive?</h1>
        <ul class="lista-motivos">
            <li class="itens-motivos">
                <span><i class="fa-solid fa-users font-1-xl" style="color: #894dd4;"></i></span>
                <h3 class="font-1-m-b cor-p3">Colaboradores Empenhados</h3>
                <p class="font-2-s">Uma comunidade diversificada pronta para assumir seus projetos.</p>
            </li>
            <li class="itens-motivos">
                <span><i class="fa-solid fa-gears font-1-xl" style="color: #894dd4;"></i></span>
                <h3 class="font-1-m-b cor-p3">Facilidade de Uso</h3>
                <p class="font-2-s">Encontre trabalhadores adequados com base nas suas necessidades, com apenas alguns cliques.</p>
            </li>
            <li class="itens-motivos">
                <span><i class="fa-solid fa-comments font-1-xl" style="color: #894dd4;"></i></span>
                <h3 class="font-1-m-b cor-p3">Colaboração Eficiente</h3>
                <p class="font-2-s">Comunique-se diretamente com os usuários para garantir projetos bem-sucedidos.</p>
            </li>
        </ul>
    </article>

    <section class="descricao-bg js-scroll" id="descricao">
        <div class="descricao container">
            <div class="conteudo-descricao">
                    <h1 class="font-1-xl">Ser Contratante é:</h1>
                    <p class="font-2-s">Como contratante, você tem a oportunidade de encontrar profissionais qualificados para solucionar os desafios específicos que você enfrenta. Você pode escolher entre uma variedade de habilidades e experiências para garantir o sucesso do seu projeto.</p>
                  <div class="botoes-descricao">
                    <button id="trabalhadorButton" class="botao font-2-s">Ser Trabalhador</button>
                    <button id="contratanteButton" class="botao destaque font-2-s">Ser Contratante</button>
                  </div>
            </div>
        </div>
    </section>
    
    <footer class="footer-bg js-scroll">
        <div class="footer container">
            <img src="/img/svgs/logo-horizontal.svg" alt="">
            <div class="contato">
                <h3 class="cor-0 font-2-xl">CONTATO</h3>
                <ul class="lista-footer cor-6 font-1-s">
                    <li><a href="mailto:contato@bikcraft.com">inotec@gmail.com</a></li>
                </ul>
                <div class="sociais">
                    <a href="./"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="informacoes">
                <h3 class="cor-0 font-2-xl">INFORMAÇÕES</h3>
                <ul class="cor-6 font-1-s">
                    <li><a href="">Termos e Condições</a></li>
                    <li><a href="">Insenção de responsabilidade</a></li>
                </ul>
            </div>
            <div class="footer-copy font-2-m cor-6">
                <p>Conecctive © Alguns direitos reservados.</p>
            </div>
    </footer>
    <script src="script/home/index.js"></script>