  <header class="header-bg">
        <div class="header container">
            <a href="../index.html"><img src="/img/svgs/logo-horizontal.svg" alt="Logo do projeto conecctive"></a>
            <nav>
                <ul class="lista-primaria">
                    <li><a href="/inicial">Inicio</a></li>
                    <li><a href="/sobrenos">Sobre nós</a></li>
                </ul>
            </nav>
            <div class="login-e-cadastro">
                <a href="/login" class="botao font-2-s">Login</a>
                <a href="/opcao" class="botao destaque font-2-s">Cadastro</a>
            </div>
        </div>
    </header>



    <main class="login-bg">
        <div class="logon container">
            <div class="login-cadastro">
                <h1 class="font-1-m-b">Insira sua nova senha</h1>
                <p class="font-2-s" style="display: none;"></p>
                <form action="/recuperar_senha/update-senha" method="post" class="formulario" onsubmit="return validarRecuSenha()">
                <input type="hidden" name="key" id="key" value="{{data.key}}">
                <input type="hidden" name="id_trabalhador" id="id_trabalhador" value="{{data.id_trabalhador}}">
                <input type="hidden" name="id_contratante" id="id_contratante" value="{{data.id_contratante}}">
                    <div class="input-login-cadastro">
                        <label for="senha"><i class="fa-solid fa-lock"></i></label>
                        <input type="password" name="senha2" class="input-logon" id="senha2" placeholder="Digite sua senha">
                    </div>
                    <div class="input-login-cadastro">
                        <label for="confSenha"><i class="fa-solid fa-lock"></i></label>
                        <input type="password" name="senha" class="input-logon" id="senha" value="{{data.senha}}" placeholder="Confirmar senha">
                    </div>
                    <input type="submit" class="botao destaque submit" value="Enviar">
                </form>
            </div>
        </div>
    </main>

    <footer class="footer-bg">
        <div class="footer container">
            <img src="/img/svgs/logo-horizontal.svg" alt="">
            <div class="contato">
                <h3 class="cor-0 font-2-xl">CONTATO</h3>
                <ul class="lista-footer cor-6 font-1-s">
                    <li><a href="mailto:contato@bikcraft.com">inotec@gmail.com</a></li>
                </ul>
                <div class="sociais">
                    <a href="./"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="informacoes">
                <h3 class="cor-0 font-2-xl">INFORMAÇÕES</h3>
                <ul class="cor-6 font-1-s">
                    <li><a href="">Termos e Condições</a></li>
                    <li><a href="">Insenção de responsabilidade</a></li>
                </ul>
            </div>
            <div class="footer-copy font-2-m cor-6">
                <p>Conecctive © Alguns direitos reservados.</p>
            </div>
    </footer>

    <script src="../script/cadastro/script.js"></script>